@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #6366F1, #4338CA);
  color: white;
  margin: 0;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}