@import url('https://fonts.cdnfonts.com/css/sansation');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

body {
	min-height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #2D336B 0%, #5864D1 100%);
	color: white;
	margin: 0;
	font-family: 'Sansation', sans-serif;
}

html {
	scroll-behavior: smooth;
}
