@import url('https://fonts.cdnfonts.com/css/sansation');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

body {
	min-height: 100vh;
	background: linear-gradient(to bottom, #6366f1, #4338ca);
	color: white;
	margin: 0;
	font-family: 'Sansation', sans-serif;
}

html {
	scroll-behavior: smooth;
}
