@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
	font-family: 'Raleway', sans-serif;
}

.token-title {
	padding: 20px 0 20px 8px;
}

.token-card {
	margin: 0 8px 20px 8px;
}

.batch-name {
	color: black;
}

.container {
	background-color: #1d2574;
}

button {
	margin: 20px;
}
.custom-btn {
	width: 60px;
	height: 20px;
	color: #fff;
	border-radius: 5px;
	padding: 10px 25px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	box-shadow:
		inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
		7px 7px 20px 0px rgba(0, 0, 0, 0.1),
		4px 4px 5px 0px rgba(0, 0, 0, 0.1);
	outline: none;
}

.btn-3 {
	background: #1d2574;
	background: linear-gradient(0deg, #1d2574 0%, #1d2574 100%);
	width: 100px;
	height: 30px;
	line-height: 42px;
	padding: 0;
	border: none;
}
.btn-3 span {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.btn-3:before,
.btn-3:after {
	position: absolute;
	content: '';
	right: 0;
	top: 0;
	background: #1d2574;
	transition: all 0.3s ease;
}
.btn-3:before {
	height: 0%;
	width: 2px;
}
.btn-3:after {
	width: 0%;
	height: 2px;
}
.btn-3:hover {
	background: transparent;
	box-shadow: none;
}
.btn-3:hover:before {
	height: 100%;
}
.btn-3:hover:after {
	width: 100%;
}
.btn-3 span:hover {
	color: #1d2574;
}
.btn-3 span:before,
.btn-3 span:after {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	background: #1d2574;
	transition: all 0.3s ease;
}
.btn-3 span:before {
	width: 2px;
	height: 0%;
}
.btn-3 span:after {
	width: 0%;
	height: 2px;
}
.btn-3 span:hover:before {
	height: 100%;
}
.btn-3 span:hover:after {
	width: 100%;
}
